.gaegu-bold {
    font-family: "Gaegu", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .gaegu-regular {
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .gaegu-light {
    font-family: "Gaegu", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
/* start here */
*{
    font-family: "Gaegu", sans-serif; 
}

img {
    height: 150px;
    width: 150px;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    margin: 0;
    border-radius: 50px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-shadow: 0 5px 15px #eb9191;
}

button {
    margin-top: 10px;
}

.add-book {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0 5px 15px #eb9191;
    
}

.header {
    background-color: #eb9191;
    flex-shrink: 0;
    height: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 10px rgb(179, 173, 173);
}

.container {
    padding: 50px;
    position: relative;
    flex: 1 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-auto-rows: 250px;
    gap: 50px

}

#dialog {
    padding: 50px;
    position: absolute;
    align-self: center;
    justify-self: center;
    border-radius: 10%;
    border: 2px solid #eb9191;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.read {
    margin-top: 20px;
}

