body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.container > *{
    margin: 0;
    border: 1px solid red;
}

.add-book {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    border: 1px solid blue;
    flex-shrink: 0;
    height: 135px;
}

.container {
    border: 1px solid red;
    padding: 30px;
    flex: 1 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fill,250px);
    grid-auto-rows: 250px;
    gap: 50px

}


